<footer>
    <div class="index-footer">
        <ul class="index-center">
            <li class="index-our">
                <img src="{IMG_PATH}car_03.png" alt="">
                <a href="" class="index-bt">EMALE</a><br>
                <span class="index-xq">549765661@QQ.COM 12306.CN<br>Aobao945234@163.com</span>
            </li>
            <li class="index-our">
                <img src="{IMG_PATH}car_06.png" alt="">
                <a href="" class="index-bt">ADD</a><br>
                <span class="index-xq">山西省太原市小店区康宁街海棠家园<br>上海市静安区威海路1008号</span>
            </li>
            <li class="index-our">
                <img src="{IMG_PATH}car_09.png" alt="">
                <a href="" class="index-bt">TEL</a><br>
                <span class="index-xq">0353-5499564&nbsp;0354-4569745<br>15364542604</span>
            </li>
        </ul>
        <div class="index-bottom">
            <img src="{IMG_PATH}footer.png" alt="">
            <span class="index-di">网络文化经营许可证 京网文[2016]6173-844号 <br>京公网安备11010502000501号 </span>
            <div class="index-car">
                <img src="{IMG_PATH}car012.png" alt="">
            </div>
        </div>
    </div>
</footer>
<!--底部结束-->


</body>
<script>
    var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
</html>
