{include file='header.html'}
<!--头部结束-->

<!--面包屑开始-->
<section class="tab_header">
    <div class="tab_bread">
        <div class="tab_bread_mian">
            <div class="tab_bread_index">
                <div class="tab_bread_line"></div>
                <div class="tab_bread_font">
                    <h5 class="tab_bread_chinese">首页</h5>
                    <h5 class="tab_bread_English">Home</h5>
                </div>
            </div>
            <div class="tab_bread_icon_box">
                <i class="tab_bread_icon">&#xe66f;</i>
            </div>
            <div class="tab_bread_index">
                <div class="tab_bread_line"></div>
                <div class="tab_bread_font">
                    <h5 class="tab_bread_chinese">车主服务</h5>
                    <h5 class="tab_bread_English">FUWU</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="tab_line1"></div>
    <div class="tab_line2"></div>
    <div class="tab_img">
        <img src="{IMG_PATH}tab_1.png" alt="">
    </div>
</section>
<!--面包屑结束-->


<!--车主服务开始-->
<section class="server_top">
    <!--标题-->
    <div class="server_top_title">
        <span class="server_top_title_line"></span>
        <div class="server_top_title_box">
            <h5 class="server_top_title_left">车主服务</h5>
            <h5 class="server_top_title_right">CHEZHU<br>FUWU</h5>
        </div>
    </div>
    <!--总述-->
    <div class="server_top_total">
        <div class="server_top_total_left">
            <h5 class="server_top_total_left_title"><b>售后服务</b>第一时间全新为您</h5>
            <h5 class="server_top_total_left_English"><b>BREAKTHROUGH</b>TECHNOLOGY FUTURE</h5>
            <h5 class="server_top_total_left_time">2018年</h5>
            <p class="server_top_total_left_content">
                至诚至精，用心为您是大众进口汽车销售有限公司贯彻始终的理念与模式，在引入德国优质售后服务体系的同时，更结合中国市场需求不断发展与完善，只为让每位大众进口汽车用户享受到超出期望的高品质服务</p>
        </div>
        <div class="server_top_total_right">
            <img src="{IMG_PATH}server_03.png" alt="">
        </div>
    </div>
    <!--第一点-->
    <div class="server_top_first">
        <div class="server_top_first_top">
            <div class="server_top_first_top_left">
                <img src="{IMG_PATH}server_07.png" alt="">
            </div>
            <div class="server_top_first_top_right">
                <div class="server_top_first_top_right_title">
                    <h1>01</h1>
                    <div>
                        <h2>ONE</h2>
                        <div></div>
                    </div>
                </div>
                <div class="server_top_first_top_right_tag">精湛服务</div>
                <p class="server_top_first_top_right_text">专业团队是精湛服务的基石<br>
                    每个岗位必须经过大<br>
                    众厂家认证考核高标准严苛筛选与专业严谨的技术培训<br>
                    保障团队的专业素质与综合服务水平<br></p>
            </div>
        </div>
        <div class="server_top_first_bottom">
            <img src="{IMG_PATH}server_10.png" alt="">
            <img src="{IMG_PATH}server_11.png" alt="">
        </div>
    </div>
    <!--第二点-->
    <div class="server_top_two">
        <div class="server_top_two_left">
            <div class="server_top_first_top_right_title">
                <h1>02</h1>
                <div>
                    <h2>TWO</h2>
                    <div></div>
                </div>
            </div>
            <div class="server_top_two_left_topright">
                <div class="server_top_first_top_right_tag">精良备件</div>
                <p class="server_top_first_top_right_text">精良备件来自大众汽车原厂<br>
                    与车型研发同步发展，是为您的爱车专门配置<br>
                    的上乘之选。性能卓越<br></p>
            </div>
            <div class="server_top_two_left_bottom">
                <img src="{IMG_PATH}server_18.png" alt="">
            </div>
        </div>
        <div class="server_top_two_right">
            <img src="{IMG_PATH}server_15.png" alt="">
        </div>
    </div>
    <!--第三点-->
    <div class="server_top_three">
        <div class="server_top_three_top">
            <div class="server_top_first_top_right">
                <div class="server_top_first_top_right_title">
                    <h1>03</h1>
                    <div>
                        <h2>THREE</h2>
                        <div></div>
                    </div>
                </div>
                <div>
                    <div class="server_top_first_top_right_tag">精选方案</div>
                    <p class="server_top_first_top_right_text">速腾携全面的购车方案邀您尽享价<br>
                        值与实力双重进级。即日起订购速腾可尊享多种优<br>
                        惠购车方案低首付0利率购车<br></p>
                </div>
            </div>
        </div>
        <div class="server_top_three_bottom">
            <div class="server_top_three_bottomleft">
                <img src="{IMG_PATH}server_23.png" alt="">
            </div>
            <p class="server_top_first_top_right_text">专业团队是精湛服务的基石<br>
                每个岗位必须经过大<br>
                众厂家认证考核高标准严苛筛选与专业严谨的技术培训<br>
                保障团队的专业素质与综合服务水平<br></p>
        </div>
    </div>
</section>
<!--车主服务结束-->

<!--通屏开始-->
<section class="server_all">
    <img src="{IMG_PATH}server_26.png" alt="">
    <div class="server_all_car">
        <img src="{IMG_PATH}server_09.png" alt="">
    </div>
</section>
<!--通屏结束-->

<!--预约试驾开始-->
<section class="server_drive">
    <div class="server_drive_title">
        <div class="server_drive_title_main">
            <div class="server_drive_title_left">
                <div class="server_top_first_top_right_tag">填写信息 / 联系到店 / 尊享试驾</div>
                <p class="server_top_first_top_right_text">关注您的每一次驾驶<br>
                    为您的每一次出行严阵以待我们为您准备了相关<br>
                    驾驶培训指南以及24小时热线服务<br></p>
            </div>
            <div class="server_drive_title_right">
                <img src="{IMG_PATH}server_29.png" alt="">
            </div>
        </div>
    </div>
    <div class="server_top_title">
        <span class="server_top_title_line" style="opacity: 0"></span>
        <div class="server_top_title_box">
            <h5 class="server_top_title_left">预约试驾</h5>
            <h5 class="server_top_title_right">YUYUE<br>SHIJIA</h5>
        </div>
    </div>
    <div class="server_drive_bottom">
        <form action="">
            <div class="server_input">
                <div class="server_input_left">
                    <img src="{IMG_PATH}server_33.png" alt="">
                </div>
                <div class="server_input_box input1">
                    <input type="text" name="cartype" placeholder="车系">
                    <input type="text" name="xing" placeholder="车型">
                </div>
            </div>
            <div class="server_input">
                <div class="server_input_left">
                    <img src="{IMG_PATH}server_39.png" alt="">
                </div>
                <div class="server_input_box input1">
                    <input type="text" name="province" placeholder="省份">
                    <input type="text" name="carname" placeholder="车名">
                </div>
            </div>
            <div class="server_input">
                <div class="server_input_left">
                    <img src="{IMG_PATH}server_41.png" alt="">
                </div>
                <div class="server_input_box">
                    <input type="text" name="name" class="server_input_check" placeholder="请输入您的姓名">
                    <div class="server_input_box_radio">
                        <div class="female">
                            <input type="radio" id="female" name="sex" value="女">
                            <label for="female"></label>
                            <span>女</span>
                        </div>
                        <div class="male">
                            <input type="radio" id="male" name="sex" value="男">
                            <label for="male"></label>
                            <span>男</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="server_input">
                <div class="server_input_left">
                    <img src="{IMG_PATH}server_43.png" alt="">
                </div>
                <div class="server_input_box">
                    <input type="text" class="server_input_box2"name='tel' placeholder="请输入您的手机号码">
                    <input type="text" class="server_input_box2" name='date' placeholder="计划购车时间">
                </div>
            </div>
            <div class="server_top_title"
                 style="margin-top: 40px;margin-bottom: 30px;border-bottom: 1px solid #eeeeee;">
                <span class="server_top_title_line" style="opacity: 0"></span>
                <div class="server_top_title_box">
                    <h5 class="server_top_title_left">留言</h5>
                    <h5 class="server_top_title_right">COM<br>MENTS</h5>
                </div>
            </div>
            <textarea class="server_comment" name="comment" id="" cols="30" rows="10" placeholder="最多可输入两百字"></textarea>
            <div class="server_plus">+</div>
            <button>提交</button>
        </form>
    <script type="text/javascript">
      $('button').click(function(e){
        e.preventDefault();
        $.ajax({
          type:'post',
          data:$('form').serialize(),
          url:'index.php?m=index&f=index&a=trymesssage',
          success:function(text){
            confirm(text);
          }
        })
      })
    </script>
        <div class="server_map">
            <img src="{IMG_PATH}server_36.png" alt="">
        </div>

    </div>
</section>
<!--预约试驾结束-->

<div class="server_footer">
    <img src="{IMG_PATH}server_156.png" alt="">
</div>


<!--底部开始-->
{include file='footer.html'}
