<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{CSS_PATH}bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="{CSS_PATH}font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="{CSS_PATH}plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{CSS_PATH}animate.min.css" rel="stylesheet">
    <link href="{CSS_PATH}style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">
</head>
<style>
    table{
        border-bottom:1px solid #dedede ;
    }
    .aa{
        position: absolute;
        margin-left: 80px;
        margin-top: -12.5px;
    }
    .ibox-title{
       height: 60px;
        line-height: 60px;
    }
    .ibox-title h5{
        line-height: 30px;
    }

    .btn-group a .active{
        color: #6d6b6b;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>预约试驾管理</h5>
                    <span class="input-group-btn aa">
                        <!--<a href="index.php?f=content&a=addcontent" target="iframe0">-->
                            <!--<button type="button" class="btn btn-sm btn-primary">增加</button>-->
                        <!--</a>-->
                    </span>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>车型</th>
                                <th>车系</th>
                                <th>经销商省</th>
                                <th>经销商</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>手机号码</th>
                                <th>预约时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $arr as $time}
                            <tr>
                                <td>{$time['id']}</td>
                                <td>{$time['type']}</td>
                                <td>{$time['xilie']}</td>
                                <td>{$time['province']}</td>
                                <td>{$time['jingxiao']}</td>
                                <td>{$time['name']}</td>
                                <td>{$time['sex']}</td>
                                <td>{$time['phone']}</td>
                                <td>{$time['date']}</td>
                                <td>
                                    <span class="input-group-btn">
                                    <a href="index.php?f=comment&a=delcomment&id={$time['id']}" target="iframe0">
                                        <button type="button" class="btn btn-sm btn-primary">删除</button>
                                        </a>
                                 </span>
                                    <span class="input-group-btn">
                                        <a href="index.php?f=comment&a=updatecom&id={$time['id']}" target="iframe0" >
                                            <button type="button" class="btn btn-sm btn-primary">修改</button>
                                        </a>
                                 </span>
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>

                   {$str}
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="{JS_PATH}jquery.min.js?v=2.1.4"></script>
<script src="{JS_PATH}bootstrap.min.js?v=3.3.5"></script>
<script src="{JS_PATH}plugins/peity/jquery.peity.min.js"></script>
<script src="{JS_PATH}content.min.js?v=1.0.0"></script>
<script src="{JS_PATH}plugins/iCheck/icheck.min.js"></script>
<script src="{JS_PATH}demo/peity-demo.min.js"></script>
</html>