<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{CSS_PATH}bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="{CSS_PATH}font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="{CSS_PATH}plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{CSS_PATH}animate.min.css" rel="stylesheet">
    <link href="{CSS_PATH}style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">
</head>
<style>
    .aa{
        position: absolute;
        margin-left: 80px;
        margin-top: -12px;
    }
    .ibox-title{
        height: 60px;
        line-height: 60px;
    }
    .ibox-title h5{
        line-height: 30px;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>留言</h5>
                    
                </div>
                <div class="ibox-content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>电话</th>
                            <th>邮箱</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>

                        </thead>
                        <tbody>
                          {foreach $arr as $item}
                        <tr>
                          <td>{$item['name']}</td>
                          <td>{$item['tel']}</td>
                          <td>{$item['email']}</td>
                          <td>{$item['message']}</td>
                          <td>
                          <span> <a href="index.php?m=admin&f=content&a=delmess&id={$item['id']}" target="iframe0"><button type="button" class='btn btn-sm btn-primary' name="button">删除</button> </a> </span></td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="{JS_PATH}jquery.min.js?v=2.1.4"></script>
<script src="{JS_PATH}bootstrap.min.js?v=3.3.5"></script>
<script src="{JS_PATH}plugins/peity/jquery.peity.min.js"></script>
<script src="{JS_PATH}content.min.js?v=1.0.0"></script>
<script src="{JS_PATH}plugins/iCheck/icheck.min.js"></script>
<script src="{JS_PATH}demo/peity-demo.min.js"></script>
</html>
